* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.player {
    width: 250px;
    height: 250px;

    /* background-color: red; */
    border-radius: 50%;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#player-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;

    top: 0;
}

#audio-button {
    background-color: black;
    border-radius: 50%;

    cursor: pointer;
    margin-bottom: 10px;
}

#video-button {
    background-color: white;
    padding: 10px;

    border: 1px solid black;
    border-radius: 50%;

    cursor: pointer;
}

.fa-play-circle {
    font-size: 100px;
    color: white;
}

.fa-video {
    font-size: 25px;
}

.fa-arrow-alt-circle-down {
    position: absolute;

    bottom: 5%;

    font-size: 50px;
    color: white;

    animation: 1s infinite arrow ease-in-out;
}

.sounds {
    padding-top: 15%;
    height: 100vh;
}

.description {
    text-align: center;
    font-size: 50px;

    margin-bottom: 100px;
}

.sounds-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    text-transform: uppercase;
}

.sound:not(:last-child) {
    margin-right: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
